// compileOnSave
/* Farver 

// As RGBa codes */

$rgba-primary-0: rgba(133, 100, 206, 1); // Main Primary color */
$rgba-primary-1: rgba(206, 189, 243, 1);
$rgba-primary-2: rgba(167, 140, 226, 1);
$rgba-primary-3: rgba(105, 68, 184, 1);
$rgba-primary-4: rgba(80, 40, 165, 1);

$rgba-secondary-1-0: rgba(242, 253, 108, 1); // Main Secondary color (1) */
$rgba-secondary-1-1: rgba(250, 254, 192, 1);
$rgba-secondary-1-2: rgba(246, 254, 146, 1);
$rgba-secondary-1-3: rgba(239, 252, 75, 1);
$rgba-secondary-1-4: rgba(224, 238, 37, 1);

$rgba-secondary-2-0: rgba(255, 211, 109, 1); // Main Secondary color (2) */
$rgba-secondary-2-1: rgba(255, 236, 192, 1);
$rgba-secondary-2-2: rgba(255, 223, 147, 1);
$rgba-secondary-2-3: rgba(255, 202, 76, 1);
$rgba-secondary-2-4: rgba(242, 181, 38, 1);

$rgba-complement-0: rgba(255, 235, 109, 1); // Main Complement color */
$rgba-complement-1: rgba(255, 246, 192, 1);
$rgba-complement-2: rgba(255, 240, 147, 1);
$rgba-complement-3: rgba(255, 230, 76, 1);
$rgba-complement-4: rgba(242, 213, 38, 1);

$primary: $rgba-primary-0;
$secondary-1: $rgba-secondary-1-0;
$secondary-2: $rgba-secondary-2-0;
$complementary: $rgba-complement-0;
/*
 GENERELT
 */
@media (max-width: 768px) {
	body {
		padding-top: 55px;
	}
}

.important {
	font-weight: bold;
}

h4:not(.important) {
	font-weight: normal;
}
.nav-item:hover {
	cursor: pointer;
}

/*
SIDEBAR
 */
.sidebar {
	background-color: $primary;
	color: #fff;
	max-height: 100%;
	border-right: 1px solid $secondary-1;

	.sidebar h2 {
		margin-top: 1px;
		height: 50px;
	}
}

/*
SIDEBAR OG NAVBAR
 */
.sidebar h2 svg,
.navbar-brand svg {
	margin-top: -5px;
}

.sidebar .nav li,
.navbar .navbar-collapse .nav-item {
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 15px;
	padding-right: 15px;

	&:hover {
		background-color: lighten($primary, 15%);
	}
}

.sidebar .nav .no-info {
	color: rgb(214, 214, 214);
	cursor: not-allowed;
}

.filtering {
	position: fixed;
	width: 100%;
	top: 0;
	overflow: auto;
	max-height: 100vh;
	background-color: $primary;
	z-index: 3;
	margin: 0 -15px;
	padding: 5px 15px;

	@media (min-width: 768px) {
		position: -webkit-sticky;
		position: sticky;
		width: inherit;
	}
}

/*
NAVBAR
 */
.navbar {
	background-color: $primary;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	color: #fff;
	z-index: 3;
}

.navbar .navbar-brand {
	font-size: 2rem;
	font-weight: 500;
	padding: 0;
	margin-top: -12px;
	margin-left: -1px;
	cursor: pointer;
}

.navbar .navbar-collapse {
	background-color: $primary;
	text-align: right;
	margin-left: -1rem;
	margin-right: -1rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

/*
CARDS
 */

.card {
	border: 1px solid $primary;

	.card-title {
		color: $primary;
	}

	button {
		background-color: $primary;
		border-color: $primary;

		&:hover {
			background-color: $complementary;
			border-color: $complementary;
			color: black;
		}
	}
}

/*
DisplayOpenDrugs
 */
.display-open-drugs {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
	border-left: 1px solid $secondary-1;

	.open-drugs {
		margin-top: 15px;
	}
}

/* OVERSKRIV BOOTSTRAP */
.btn-warning {
	background-color: $complementary;
	border-color: $complementary;

	&:hover {
		background-color: darken($complementary, 20%);
		border-color: darken($complementary, 20%);
	}
}
