html {
	height: 100%;
	overflow: auto;
}
body,
#root {
	height: 100%;
	width: 100%;
}

.grommet .drug-content {
	max-width: 100%;
}

.grommet .drug-content p,
.grommet .drug-content ul,
.grommet .drug-content ul li {
	max-width: 100%;
}

.grommetux-drop {
	z-index: 999 !important;
	background-color: #fff !important;
}
