html {
	height: 100%;
	overflow: auto;
}
body,
#root {
	height: 100%;
	width: 100%;
}

.grommet .drug-content {
	max-width: 100%;
}

.grommet .drug-content p,
.grommet .drug-content ul {
	max-width: 100%;
}
